<app-employeeheader></app-employeeheader>
<br>  
<div>
    <button type="button" class="btn btn-success" routerLink="/employee/savedtimesheet">Edit time sheet</button>

</div>
<br>
<div class="col-sm-4" >
    <input type="text" name="search" placeholder="search...." [(ngModel)]="term">
</div> 
<br>
<table class="table table-striped"  >
    <thead>
        <tr>
            <th>Date</th>
            <th >From</th>
            <th>To</th>
            <th>Status</th>    
           
          
        </tr>
    </thead>

    <tbody style="font-size: medium;;">
        
        <tr *ngFor="let v of viewarr |paginate: { itemsPerPage: 5, currentPage: p }|filter:term ">

           <td>{{v.date}}</td>
            <td>{{v.start_time}}</td> 
            <td>{{v.end_time}}</td>
            <td>{{v.status}}</td>
          
            
            
            
            
        </tr>
    </tbody>
</table>
<br>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<br>
<td><button type="button" class="btn btn-primary"  routerLink="/employee/profile">Back</button></td>
