<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary" routerLink="/admin/dashboard">Dashboard</a>
    <a href="#" class="btn btn-primary" routerLink="/admin/create">Add Employee</a>
    
    <a href="#" class="btn btn-primary" routerLink="/admin/timesheet">View timesheet</a>
    <a href="#" class="btn btn-primary" routerLink="/admin/leavedetails" >Leave Details</a>
    <a href="#" class="btn btn-primary" routerLink="/admin/approveleave" >Approve Leave</a>  
    
</div>
<a style="margin-left: 19cm;" href="#" class="btn btn-danger" (click)="logout()" >Logout</a> 
