<app-employeeheader></app-employeeheader>
<br>
<br>
<br>
<br>
<div class="loginBox"  style="height: 170px;width: 400px;border-style: inset;border-radius: 10px;border-width: 5px; margin-left:  550px ;">
    
    <form  class="form-container">
      
            
       
        <label style="color: rgb(0, 0, 0);">Enter existing password:</label>
        <input type="password" class="txt txt-primary ml-id" name="password" placeholder="enter password"  [(ngModel)]="password"><br>
   
    <br>
    
       <button type="submit" class="btn btn-primary" style="margin: right  50px;" (click)="checkEmpdata()" >Continue</button>
      <button type="reset" class="btn btn-primary" style="margin: right  50px;"  >Reset</button>
 
    

    </form>
   
    </div>


    <td><button type="button" class="btn btn-primary"  routerLink="/employee/profile">Back</button></td>
<br>
<br>
<br>