<div class="btn-group btn-group-justified">

    <a href="#" class="btn btn-primary" routerLink="/employee/profile">Profile</a>
    <a href="#" class="btn btn-primary" routerLink="/employee/addtimesheet">Fill Timesheet</a>
    <a href="#" class="btn btn-primary" routerLink="/employee/viewtimesheet">View Timesheet</a>
    
    <a href="#" class="btn btn-primary"  routerLink="/employee/leavehistory">Leave History</a>
    <a href="#" class="btn btn-primary"  routerLink="/employee/addleave">Apply Leave</a>
    <a href="#" class="btn btn-primary" [routerLink]="['/employee','oldpassword']">Change password</a>
     
    
</div>
<a style="margin-left: 17cm;" href="#" class="btn btn-danger" (click)="logout()" >Logout</a> 

<div>
   