<!-- <div style="margin-top: 7cm;">
<div style="margin-left: 17cm;">
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="">Admin Login</button>
</div>
<br>
<br>
<div style="margin-left: 16.7cm;">
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/employeelogin">Employee Login</button>
</div>

</div> -->

<!-- <h1 style="text-align: center;color: brown;">Employee Online Attendence </h1>
<h1 style="text-align: centre;">and Leave Tracker</h1> -->
<div style="text-align: center;color: rgb(19, 82, 0); font-size:2cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome</div>
<div style="text-align: center;color: rgb(141, 0, 7); font-size:1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Employee Online Attendence</div>
<div style="text-align: center;color:  rgb(141, 0, 7); font-size:1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">and Leave Tracker</div>

<br>
<br>
<div style="margin-left: 11.5cm;">
<div class="row" style="align-self: center;">
  <div class="col-sm-6" style="width: fit-content;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login with admin Credentials</h5>
        
        <a href="/adminlogin" class="btn btn-primary">continue</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="width: fit-content;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login with employee Credentials</h5>
          
          <a href="/employeelogin" class="btn btn-primary">continue</a>
      </div>
    </div>
  </div>
</div>

</div>

  

